 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <style>
        form{
            text-align: center;
        }
        p{
            font-size: larger;
        }
        #email{
            font-size: large;
        }
        #button{
            font-size: larger;
            color: rgb(15, 176, 235);
        }
        #button:hover{
            background-color: blue;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <form action="/result" method="POST">
        <p> Email <input type="text" name="email" id="email"> </p>
        <p> Submit <input type="submit" name="submit" id="button"> </p>

    </form>
</body>
</html>