<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/style.css" />
    <style>
      .column {
        float: left;
        width: 25%;
        padding: 0 0px;
      }
      
      /* Remove extra left and right margins, due to padding */
      .row {
        /*margin: 0 -5px;*/
        align-items: center;
        justify-content: center;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive columns */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }
      
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        width: 350px;
        height: 400px;
      }
    </style>
  </head>

  <body>
    {% extends "layoutdelivery.html" %}

		{% block body %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
          <!-- Success Alert Layout -->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for msg in messages %}
              <div class="alert alert-success d-flex align-items-center" role="alert" style="height:50px; margin-bottom: 0.3rem;" >
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width:30px;"><use xlink:href="#check-circle-fill"/></svg>
                <div style="padding-left:20px;">
                   {{ msg }}
                </div>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="site-blocks-cover" style="background-image: url('{{url_for('static', filename = 'images/hero_1.jpg')}}');">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                  <div class="site-block-cover-content text-center">
                    <h2 class="sub-title">Effective Medicine, Effective Equipments</h2>
                    <h1>Welcome To MediOLX</h1>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="site-section">
            <div class="container">
              <div class="row align-items-stretch section-overlap">
                
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                  <div class="banner-wrap h-100">
                    <a href="#" class="h-100">
                      {% for members in members %}
                      <h5>{{ members.user_name }}</h5>
                      {% endfor %}
                      <p>
                        Amet sit amet dolor
                        <strong>Lorem, ipsum dolor sit amet consectetur adipisicing.</strong>
                      </p>
                    </a>
                  </div>
                </div>
                
      
              </div>
            </div>
          </div>
        <hr>
   
    <div class="container">
    <div class="heading">
    <h1 style="color: black;" align="center">Delivery Details</h1>
    <br>

</div>
    <table class="table table-hover">
        <h2 style="color: black;" align="center">Medicines</h2>
        <thead>
          <tr style="color: black;" align="center">
            <th scope="col">Buyer ID</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Seller ID</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          
          
          {% for pay in pay %}
          {% for deliverym in deliverym %}
          {% if pay.med_id == deliverym.med_id %}
          {% for med in med %}
          {% if deliverym.med_id == med.med_id %}
          
          
          <tr align="center">
      
            <th align="center">{{ pay.user_ID }}</th>
            
            <td align="center">{{ med.name }}</td>
            
            <td align="center">{{ pay.seller_id }}</td>
            
            
            <td align="center">{{ deliverym.delivery_status }}</td>
            <td align="center">
              <a href="/pres/view/" style="padding-right: 10px;">Collected</a>
              <a href="/pres/view/" style="padding-left: 10px;">Delivered</a>
            </td>
          </tr>
          
          
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      <br>
      <table class="table table-hover">
        <h2 style="color: black;" align="center">Equipments</h2>
        <thead>
          <tr style="color: black;" align="center">
            <th scope="col">Buyer ID</th>
            <th scope="col">Medicine Name</th>
            <th scope="col">Seller ID</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          
          {% for pay in pay %}
          {% for deliverye in deliverye %}
          {% if pay.equip_id == deliverye.equip_id %}
          {% for equip in equip %}
          {% if deliverye.equip_id == equip.equip_id %}
          
          
          <tr align="center">
      
            <th align="center">{{ pay.user_ID }}</th>
            
            <td align="center">{{ equip.name }}</td>
            
            <td align="center">{{ pay.seller_id }}</td>
            
            
            <td align="center">{{ deliverye.delivery_status }}</td>
            <td align="center">
              <a href="/pres/view/" style="padding-right: 10px;">Collected</a>
              <a href="/pres/view/" style="padding-left: 10px;">Delivered</a>
            </td>
          </tr>
          
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

      {% endblock %} 
  </body>
</html>
