<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="login-signup.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Medi-OLX</h1>
		<h2>Buying</h2>
		<h2>Selling</h2>
        <h2>Medicines</h2>
        <h2>Medical Equipments</h2>

		</div>
	</div>

		<div class="right">
		<h5>Login</h5>
		<div class="inputs">
			<input type="text" placeholder="User name">
			<br>
			<input type="password" placeholder="Password">
		</div>
			
			<br><br>
			<input type="submit" name="submit" id="submit">
            <br><br>
            <p>Don't have an account? <a href="signup.html">Creat Your Account</a> it takes less than a minute</p>
	</div>
    
	
</div>
<!-- partial -->
  
</body>
</html>
