{% extends "layout.html" %}

{% block body %}

<div class="site-section">
<div class="container">

<div class="row">
  {% for medicine in medicine %}
  {% set img_med = 'images/' + medicine.image %}
  <div class="col-sm-6 col-lg-4 text-center item mb-4">
    <a href="/medicine/{{ medicine.med_id }}"> <img src="{{url_for('static', filename = img_med)}}" alt="Image" width=200px></a>
    <h3 class="text-dark"><a href="/medicine/{{ medicine.med_id }}">{{medicine.name}}</a></h3>
    <p class="price"><del>₹{{ medicine.original_price }}</del> &mdash; ₹{{medicine.price}}</p>
    <p class="price">{{ medicine.status }}</p>
  </div>
  {% endfor %}
</div>
<div class="row mt-5">
  <div class="col-md-12 text-center">
    <div class="site-block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %} 