
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="login-signup.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/login-signup.css')}}">
<script>
    function matchPassword() {
      var pw1 = document.getElementById("pwd1").value;
      var pw2 = document.getElementById("pwd2").value;
      if(pw1 != pw2)
      {	
          alert("Passwords did not match");
      } 
    }
    </script>
</head>
<body>
    
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Medi-OLX</h1>
		<h2>Buying</h2>
		<h2>Selling</h2>
        <h2>Medicines</h2>
        <h2>Medical Equipments</h2>
		
		</div>
	</div>

		<div class="right">
		<h5>Signup</h5>
        <form action="/register" method="post">
		<div class="inputs">
            <input type="text" placeholder="Name" name="user_name" required >
			<br>
			<input type="text" placeholder="Phone" name="user_Cno" required >
            <br>
            <input type="email" placeholder="Email" name="user_email" required>
            <br>
            <input type="text" placeholder="Address" name="user_add" required>
            <br>
			<input type="text" placeholder="Pin Code/Zip Code" name="user_pcode" required >
            <br>
            <input type="text" placeholder="Aadhar No." name="UIDAI" required>
            <br>
			<input type="password" id="pwd1" name="user_pwd" placeholder="Password" required>
            <br>
            <input type="password" id="pwd2" placeholder="Retype Password" required>
            
		</div>	
			<br>
			<input type="submit" name="submit" id="submit" onclick="matchPassword()" class="submit" value="SUBMIT" >
            <p>Go to <a href="/signin">Login</a></p>
        </form>
	</div>
    
	
</div>
<!-- partial -->
  
</body>

</html>
