{% extends "layout.html" %}

{% block body %}
    <style type="text/css">
      .form-style-8 {
        font-family: "Open Sans Condensed", sans-serif;
        width: 700px;
        padding: 30px;
        background: #ffffff;
        margin: 10px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      }
      .form-style-8 h2 {
        background: #4641a7;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", sans-serif;
        color: #797979;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
      }
      .form-style-8 input[type="text"],
      .form-style-8 input[type="date"],
      .form-style-8 input[type="datetime"],
      .form-style-8 input[type="email"],
      .form-style-8 input[type="number"],
      .form-style-8 input[type="search"],
      .form-style-8 input[type="time"],
      .form-style-8 input[type="url"],
      .form-style-8 input[type="password"],
      .form-style-8 select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font-family: "Open Sans Condensed", sans-serif;
        height: 45px;
      }
      .form-style-8 input[type="button"],
      .form-style-8 input[type="submit"] {
        -moz-box-shadow: inset 0px 1px 0px 0px #4641a7;
        -webkit-box-shadow: inset 0px 1px 0px 0px #4641a7;
        box-shadow: inset 0px 1px 0px 0px #4641a7;
        background-color: #4641a7;
        border: 1px solid #4641a7;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
      }
      .form-style-8 input[type="button"]:hover,
      .form-style-8 input[type="submit"]:hover {
        background: linear-gradient(to bottom, #4641a7 5%, #4641a7 100%);
        background-color: #4641a7;
      }
    </style>
    <style>
      #display-image {
        width: 600px;
        height: 800px;
        border: 1px solid black;
        background-position: center;
        background-size: cover;
      }
      button {
        display: inline-block;
        background-color: #716bed;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: #bebbf4;
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }
    </style>
  </head>
  
  <body>
    <div class="form-style-8">
      <h2 style="color: white">DELIVERY DETAILS AND PRESCRIPTION</h2>
        <p style="color: #51eaea;">YOU CAN UPDATE THE GIVEN DETAILS</p>
      <form action="/upload/pres" method="post" id="form1" enctype="multipart/form-data">
        {% for users in users %}
        <label for="1">NAME</label>
        <input type="text" name="name" id="name" value="{{ users.user_name }}"/>
        <label for="2">ADDRESS</label>
        <input type="text" name="address" id="address" value="{{ users.user_add }}, {{ users.user_pcode }}"/>
        <label for="5">CONTACT</label>
        <input type="text" name="contact" id="contact" value="{{ users.user_Cno }}"/>
        {% endfor %}
        <input type="text" name="image_name" id="image" readonly hidden>
        <label for="8">UPLOAD IMAGE</label> <br>
        <input 
          type="file"
          name="file_name"
          id="image-input"
          accept="image/jpeg, image/png, image/jpg" 
          onchange= "getFileData()"
        />
        
        <input type="text" name="med_id" id="image" value="{{med_id}}" hidden>
        
        <div id="display-image" class="display"></div>
        
        <button type="submit">
          <span>Submit</span>
        </button>
      
      </form>
    </div>

    <script>
        function getFileData(){
          fake_path=document.getElementById('image-input').value;
          var a = fake_path.split("\\").pop();
          var b = a.split(" ").join("_")
          document.getElementById("image").value = b;
          }
    </script>

    <script>
      const image_input = document.querySelector("#image-input");
      image_input.addEventListener("change", function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
          const uploaded_image = reader.result;
          document.querySelector(
            ".display"
          ).style.backgroundImage = `url(${uploaded_image})`;
        });
        reader.readAsDataURL(this.files[0]);
      });
    </script>
  </body>
{% endblock %}
